
   .jumbotron {
    background: url(image/1260521.jpg) fixed center no-repeat;
    background-size: cover;
   }

   .content{
  width: 330px; 
  border-radius: 10px;
  padding: 40px 30px;
  margin-top: 100px;
  box-shadow: -3px -3px 9px #aaa9a9a2,
              3px 3px 7px rgba(147, 149, 151, 0.671);
 
}
/*put the items in the middle and change apperance*/
.navbar-nav,#navbarNav {
   font-size: larger;
   font-family: cursive;  
}
#title {
      font-size: larger;
      font-family: cursive;  
      font-weight: bolder;
   }

   
