
@media (min-width: 768px) {
  .my-class {
    background-image: url('image/1260521.jpg');
  }
}

#title,.navbar-nav,#navbarNav {
      font-size: xx-large;
      font-family: cursive;  
      font-weight: bolder;
   }
   .bg-form {
    background-image: url('image/1260521.jpg');
    background-size: cover;
    background-position: center;
  }

   
  
   