
@import "helpers";



@import "utilities/api";

@media (min-width: 768px) {
  .my-class {
    background-image: url('image/1260521.jpg');
  }
}

#title,.navbar-nav,#navbarNav {
      font-size: xx-large;
      font-family: cursive;  
      font-weight: bolder;
   }
   .bg-form {
    background-image: url('image/1260521.jpg');
    background-size: cover;
    background-position: center;
  }

  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(-50%, -50%);
    
    text-align: center;
    font-weight: bold;
    text-decoration-color: rgb(252, 252, 252);
    font-size: larger;
    color: var(--bs-white);
    font-size: 5vh;
  } 
  
   